<ul class="list-none">
  <li>Address: <%= @listing.address %></li>
  <li>Unit: <%= @listing.unit %></li>
  <li>Bedrooms: <%= @listing.bedrooms %></li>
  <li>Bathrooms: <%= @listing.bathrooms %></li>
  <li>Size: <%= @listing.sqft %> ft<sup>2</sup></li>
  <%= image_tag url_for(@listing.images.first), size: "450x300" if @listing.images.attached? %>
</ul>

<div>
  <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
  <div class="mt-1">
    <input type="text" name="email" id="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="you@example.com" aria-describedby="email-description">
  </div>
  <p class="mt-2 text-sm text-gray-500" id="email-description">We'll only use this for spam.</p>
</div>
