<ul>
  <li>Address: <%= @listing.address %></li>
  <li>Unit: <%= @listing.unit %></li>
  <li>Bedrooms: <%= @listing.bedrooms %></li>
  <li>Bathrooms: <%= @listing.bathrooms %></li>
  <li>Size: <%= @listing.sqft %> ft<sup>2</sup></li>
</ul>
