<!DOCTYPE html>
<html>
  <head>
    <title>Tenate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <div class="page-main">
        <div class="relative">
          <div class="relative z-20 shadow">
            <div class="mx-3 overflow-visible flex flex-col flow-root justify-between items-center px-4 py-5 sm:px-6 sm:py-4 md:justify-start">
              <div class="flex flex-grow">
                <div class="flex items-center mr-6">Tenate</div>
                <div class="hidden md:flex-1 md:flex md:items-center md:justify-between mx-3">
                  <nav class="flex space-x-10">
                    <%= link_to 'Home', listings_path %>
                    <%= link_to 'Create listing', new_listing_path %></nav>
                  </nav>
                  <div class="flex items-center md:ml-12"><%= link_to 'Sign in', new_user_session_path %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="min-h-screen flex flex-col py-12 sm:px-6 lg:px-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
